{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-2 d-flex">
            <ul>
                <li style="list-style-type: none; font-size: 20px; font-weight: bold">CATEGORIES</li>
                <li><a class="category-element" href="{% url 'store' %}">All</a></li>
                {% for category in categories %}
                    <li><a class="category-element" href="?category={{ category.id }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-10 d-flex justify-content-center align-items-center flex-wrap">
            {% for product in products %}
            <div class="col-lg-4 col-sm-6" style="margin-bottom: 20px">
                <div class="card" style="width: 90%">
                    <img class="thumbnail" src="{{product.imageURL}}">
                    <div class="box-element product">
                        <h6><strong>{{ product.name }}</strong></h6>
                        <hr>
                        <button data-product={{ product.id }} data-action="add" class="btn btn-outline-success add-btn update-cart">Add to Cart</button>
                        <h4 style="display: inline-block; float: right"><strong>${{ product.price|floatformat:2 }}</strong></h4>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
